<a href="https://colab.research.google.com/github/sberniz/DS-Unit-2-Kaggle-Challenge/blob/master/module2-random-forests/LS_DS_222_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 2, Module 2*

---

# Random Forests

## Assignment
- [ ] Read [“Adopting a Hypothesis-Driven Workflow”](http://archive.is/Nu3EI), a blog post by a Lambda DS student about the Tanzania Waterpumps challenge.
- [ ] Continue to participate in our Kaggle challenge.
- [ ] Define a function to wrangle train, validate, and test sets in the same way. Clean outliers and engineer features.
- [ ] Try Ordinal Encoding.
- [ ] Try a Random Forest Classifier.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.

## Stretch Goals

### Doing
- [ ] Add your own stretch goal(s) !
- [ ] Do more exploratory data analysis, data cleaning, feature engineering, and feature selection.
- [ ] Try other [categorical encodings](https://contrib.scikit-learn.org/category_encoders/).
- [ ] Get and plot your feature importances.
- [ ] Make visualizations and share on Slack.

### Reading

Top recommendations in _**bold italic:**_

#### Decision Trees
- A Visual Introduction to Machine Learning, [Part 1: A Decision Tree](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/),  and _**[Part 2: Bias and Variance](http://www.r2d3.us/visual-intro-to-machine-learning-part-2/)**_
- [Decision Trees: Advantages & Disadvantages](https://christophm.github.io/interpretable-ml-book/tree.html#advantages-2)
- [How a Russian mathematician constructed a decision tree — by hand — to solve a medical problem](http://fastml.com/how-a-russian-mathematician-constructed-a-decision-tree-by-hand-to-solve-a-medical-problem/)
- [How decision trees work](https://brohrer.github.io/how_decision_trees_work.html)
- [Let’s Write a Decision Tree Classifier from Scratch](https://www.youtube.com/watch?v=LDRbO9a6XPU)

#### Random Forests
- [_An Introduction to Statistical Learning_](http://www-bcf.usc.edu/~gareth/ISL/), Chapter 8: Tree-Based Methods
- [Coloring with Random Forests](http://structuringtheunstructured.blogspot.com/2017/11/coloring-with-random-forests.html)
- _**[Random Forests for Complete Beginners: The definitive guide to Random Forests and Decision Trees](https://victorzhou.com/blog/intro-to-random-forests/)**_

#### Categorical encoding for trees
- [Are categorical variables getting lost in your random forests?](https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/)
- [Beyond One-Hot: An Exploration of Categorical Variables](http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/)
- _**[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)**_
- _**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)**_
- [Mean (likelihood) encodings: a comprehensive study](https://www.kaggle.com/vprokopev/mean-likelihood-encodings-a-comprehensive-study)
- [The Mechanics of Machine Learning, Chapter 6: Categorically Speaking](https://mlbook.explained.ai/catvars.html)

#### Imposter Syndrome
- [Effort Shock and Reward Shock (How The Karate Kid Ruined The Modern World)](http://www.tempobook.com/2014/07/09/effort-shock-and-reward-shock/)
- [How to manage impostor syndrome in data science](https://towardsdatascience.com/how-to-manage-impostor-syndrome-in-data-science-ad814809f068)
- ["I am not a real data scientist"](https://brohrer.github.io/imposter_syndrome.html)
- _**[Imposter Syndrome in Data Science](https://caitlinhudon.com/2018/01/19/imposter-syndrome-in-data-science/)**_


### More Categorical Encodings

**1.** The article **[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)** mentions 4 encodings:

- **"Categorical Encoding":** This means using the raw categorical values as-is, not encoded. Scikit-learn doesn't support this, but some tree algorithm implementations do. For example, [Catboost](https://catboost.ai/), or R's [rpart](https://cran.r-project.org/web/packages/rpart/index.html) package.
- **Numeric Encoding:** Synonymous with Label Encoding, or "Ordinal" Encoding with random order. We can use [category_encoders.OrdinalEncoder](https://contrib.scikit-learn.org/category_encoders/ordinal.html).
- **One-Hot Encoding:** We can use [category_encoders.OneHotEncoder](https://contrib.scikit-learn.org/category_encoders/onehot.html).
- **Binary Encoding:** We can use [category_encoders.BinaryEncoder](https://contrib.scikit-learn.org/category_encoders/binary.html).


**2.** The short video 
**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)** introduces an interesting idea: use both X _and_ y to encode categoricals.

Category Encoders has multiple implementations of this general concept:

- [CatBoost Encoder](https://contrib.scikit-learn.org/category_encoders/catboost.html)
- [Generalized Linear Mixed Model Encoder](https://contrib.scikit-learn.org/category_encoders/glmm.html)
- [James-Stein Encoder](https://contrib.scikit-learn.org/category_encoders/jamesstein.html)
- [Leave One Out](https://contrib.scikit-learn.org/category_encoders/leaveoneout.html)
- [M-estimate](https://contrib.scikit-learn.org/category_encoders/mestimate.html)
- [Target Encoder](https://contrib.scikit-learn.org/category_encoders/targetencoder.html)
- [Weight of Evidence](https://contrib.scikit-learn.org/category_encoders/woe.html)

Category Encoder's mean encoding implementations work for regression problems or binary classification problems. 

For multi-class classification problems, you will need to temporarily reformulate it as binary classification. For example:

```python
encoder = ce.TargetEncoder(min_samples_leaf=..., smoothing=...) # Both parameters > 1 to avoid overfitting
X_train_encoded = encoder.fit_transform(X_train, y_train=='functional')
X_val_encoded = encoder.transform(X_train, y_val=='functional')
```

For this reason, mean encoding won't work well within pipelines for multi-class classification problems.

**3.** The **[dirty_cat](https://dirty-cat.github.io/stable/)** library has a Target Encoder implementation that works with multi-class classification.

```python
 dirty_cat.TargetEncoder(clf_type='multiclass-clf')
```
It also implements an interesting idea called ["Similarity Encoder" for dirty categories](https://www.slideshare.net/GaelVaroquaux/machine-learning-on-non-curated-data-154905090).

However, it seems like dirty_cat doesn't handle missing values or unknown categories as well as category_encoders does. And you may need to use it with one column at a time, instead of with your whole dataframe.

**4. [Embeddings](https://www.kaggle.com/colinmorris/embedding-layers)** can work well with sparse / high cardinality categoricals.

_**I hope it’s not too frustrating or confusing that there’s not one “canonical” way to encode categoricals. It’s an active area of research and experimentation — maybe you can make your own contributions!**_

### Setup

You can work locally (follow the [local setup instructions](https://lambdaschool.github.io/ds/unit2/local/)) or on Colab (run the code cell below).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

train = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
sample_submission = pd.read_csv(DATA_PATH+'waterpumps/sample_submission.csv')

train.shape, test.shape

((59400, 41), (14358, 40))

In [3]:
#Library Imports
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from category_encoders import OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning:

pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [4]:
train2 = train.copy()
train2.head()

      id  amount_tsh  ... waterpoint_type_group    status_group
0  69572      6000.0  ...    communal standpipe      functional
1   8776         0.0  ...    communal standpipe      functional
2  34310        25.0  ...    communal standpipe      functional
3  67743         0.0  ...    communal standpipe  non functional
4  19728         0.0  ...    communal standpipe      functional

[5 rows x 41 columns]

In [5]:
train2['num_private'].value_counts(dropna=False)

0      58643
6         81
1         73
5         46
8         46
       ...
180        1
213        1
23         1
55         1
94         1
Name: num_private, Length: 65, dtype: int64

In [6]:
#Check with columns have 0's 
for col in train:
  if((train[col] == 0).any()):
    print(col)

id
amount_tsh
gps_height
longitude
num_private
district_code
population
public_meeting
permit
construction_year

In [7]:
train.describe()

                 id     amount_tsh  ...    population  construction_year
count  59400.000000   59400.000000  ...  59400.000000       59400.000000
mean   37115.131768     317.650385  ...    179.909983        1300.652475
std    21453.128371    2997.574558  ...    471.482176         951.620547
min        0.000000       0.000000  ...      0.000000           0.000000
25%    18519.750000       0.000000  ...      0.000000           0.000000
50%    37061.500000       0.000000  ...     25.000000        1986.000000
75%    55656.500000      20.000000  ...    215.000000        2004.000000
max    74247.000000  350000.000000  ...  30500.000000        2013.000000

[8 rows x 10 columns]

In [8]:
train.describe(exclude='number')

       date_recorded                  funder  ... waterpoint_type_group status_group
count          59400                   55765  ...                 59400        59400
unique           356                    1897  ...                     6            3
top       2011-03-15  Government Of Tanzania  ...    communal standpipe   functional
freq             572                    9084  ...                 34625        32259

[4 rows x 31 columns]

In [ ]:
train.dtypes

In [11]:
#Population, Construction Year , and Longitude/Latitude '0' null island 
#Data wrangling

def wrangle(df):
  X = df.copy()
  X['latitude'] = X['latitude'].replace(-2e-08,0) #replace small numbers with 0 
  cols_with_zeros = ['latitude','longitude','population','construction_year']
  for col in cols_with_zeros:   
    X[col] = X[col].replace(0,np.NaN) #replace 0 with NaN
  X = X.drop(columns=['quantity_group','payment_type']) #repeated

  return X
train = wrangle(train)
test = wrangle(test)

In [12]:
train.head()

      id  amount_tsh  ... waterpoint_type_group    status_group
0  69572      6000.0  ...    communal standpipe      functional
1   8776         0.0  ...    communal standpipe      functional
2  34310        25.0  ...    communal standpipe      functional
3  67743         0.0  ...    communal standpipe  non functional
4  19728         0.0  ...    communal standpipe      functional

[5 rows x 39 columns]

In [13]:
#Convart to datetime and feature adding

def feat_ad(df):
  df['date_recorded'] = pd.to_datetime(df['date_recorded'],infer_datetime_format=True)
  
  df['month_recorded'] = df['date_recorded'].dt.month
  df['day_recorded'] = df['date_recorded'].dt.day
  df['year_recorded'] = df['date_recorded'].dt.year
  df['years'] = df['year_recorded'] - df['construction_year']
  df['years_missing'] = df['years'].isnull()
  df = df.drop(columns='date_recorded') #remove Date recorded
  return df
train = feat_ad(train)
test = feat_ad(test)

In [ ]:
train.head()

In [15]:
train['population'].value_counts(dropna=False)

NaN       21381
1.0        7025
200.0      1940
150.0      1892
250.0      1681
          ...
807.0         1
948.0         1
1410.0        1
171.0         1
2683.0        1
Name: population, Length: 1049, dtype: int64

In [16]:
train['construction_year'].value_counts(dropna=False)

NaN       20709
2010.0     2645
2008.0     2613
2009.0     2533
2000.0     2091
2007.0     1587
2006.0     1471
2003.0     1286
2011.0     1256
2004.0     1123
2012.0     1084
2002.0     1075
1978.0     1037
1995.0     1014
2005.0     1011
1999.0      979
1998.0      966
1990.0      954
1985.0      945
1980.0      811
1996.0      811
1984.0      779
1982.0      744
1994.0      738
1972.0      708
1974.0      676
1997.0      644
1992.0      640
1993.0      608
2001.0      540
1988.0      521
1983.0      488
1975.0      437
1986.0      434
1976.0      414
1970.0      411
1991.0      324
1989.0      316
1987.0      302
1981.0      238
1977.0      202
1979.0      192
1973.0      184
2013.0      176
1971.0      145
1960.0      102
1967.0       88
1963.0       85
1968.0       77
1969.0       59
1964.0       40
1962.0       30
1961.0       21
1965.0       19
1966.0       17
Name: construction_year, dtype: int64

In [17]:
X = train.drop(columns=['status_group','id'])
y = train['status_group']

In [18]:
X_train, X_val,y_train,y_val = train_test_split(X,y,test_size=0.2,train_size=0.80,random_state=42)

In [19]:
y_train.head()

3607         functional
50870        functional
20413    non functional
52806    non functional
50091    non functional
Name: status_group, dtype: object

In [20]:
#Function for cardinality selection for categorical features
def cat_select(df):
  X = df.copy()
  numeric_features = X.select_dtypes(include='number').columns.tolist()
  cardinal_feat = X.select_dtypes(exclude='number').nunique()
  categ_feat = cardinal_feat[cardinal_feat <=47].index.tolist()
  features_select = numeric_features + categ_feat
  X = X[features_select]
  return X
X_train = cat_select(X_train)
X_val = cat_select(X_val)
X_test = cat_select(test)

In [35]:
X_test = X_test.drop(columns='id')

In [21]:
%%time
#FIrst model, onehot encoder, pipeline, rainbow forest
mod1 = Pipeline([
                 ('ord',OrdinalEncoder()),
                 ('impute',SimpleImputer()),
                 ('classifier',RandomForestClassifier(n_estimators=300, random_state=32, n_jobs=-1))

])
mod1.fit(X_train,y_train)
print("Training Accuracy:",mod1.score(X_train,y_train))
print("Validation Accuracy:",mod1.score(X_val,y_val))

Training Accuracy: 0.9980008417508418
Validation Accuracy: 0.8052188552188552
CPU times: user 49.7 s, sys: 1.82 s, total: 51.5 s
Wall time: 27.1 s

In [22]:
train.shape

(59400, 43)

In [23]:
test.shape

(14358, 42)

In [24]:
#second model with onehot encoder
mod2 = Pipeline([
                 ('ohe',OneHotEncoder(use_cat_names=True)),
                 ('imputer',SimpleImputer()),
                 ('classifier',RandomForestClassifier(n_estimators=300,max_depth=300,max_features=43,n_jobs=-1,random_state=42))

])
mod2.fit(X_train,y_train)
print("Train acc:",mod2.score(X_train,y_train))
print("Val acc:",mod2.score(X_val,y_val))

Train acc: 0.9980008417508418
Val acc: 0.805050505050505

In [36]:
submission = sample_submission.copy()
y_pred = mod2.predict(X_test)
submission['status_group'] = y_pred
submission.to_csv('sub4.csv',index=False)

In [ ]:
X_train.head()

In [ ]:
mod3 = Pipeline([
                 ('ohe',OneHotEncoder(use_cat_names=True)),
                 ('imputer',SimpleImputer()),
                 ('classifier',RandomForestClassifier(n_jobs=-1,n_estimators=290,random_state=42))
])
mod3.fit(X_train,y_train)
print(mod3.score(X_train,y_train))
print(mod3.score(X_val,y_val))

In [32]:
X_train.shape,X_test.shape

((47520, 34), (14358, 35))

In [ ]:
()