<a href="https://colab.research.google.com/github/timrocar/DS-Unit-2-Kaggle-Challenge/blob/master/module2-random-forests/LS_DS_222_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 2, Module 2*

---

# Random Forests

## Assignment
- [ ] Read [“Adopting a Hypothesis-Driven Workflow”](http://archive.is/Nu3EI), a blog post by a Lambda DS student about the Tanzania Waterpumps challenge.
- [ ] Continue to participate in our Kaggle challenge.
- [ ] Define a function to wrangle train, validate, and test sets in the same way. Clean outliers and engineer features.
- [ ] Try Ordinal Encoding.
- [ ] Try a Random Forest Classifier.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.

## Stretch Goals

### Doing
- [ ] Add your own stretch goal(s) !
- [ ] Do more exploratory data analysis, data cleaning, feature engineering, and feature selection.
- [ ] Try other [categorical encodings](https://contrib.scikit-learn.org/category_encoders/).
- [ ] Get and plot your feature importances.
- [ ] Make visualizations and share on Slack.

### Reading

Top recommendations in _**bold italic:**_

#### Decision Trees
- A Visual Introduction to Machine Learning, [Part 1: A Decision Tree](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/),  and _**[Part 2: Bias and Variance](http://www.r2d3.us/visual-intro-to-machine-learning-part-2/)**_
- [Decision Trees: Advantages & Disadvantages](https://christophm.github.io/interpretable-ml-book/tree.html#advantages-2)
- [How a Russian mathematician constructed a decision tree — by hand — to solve a medical problem](http://fastml.com/how-a-russian-mathematician-constructed-a-decision-tree-by-hand-to-solve-a-medical-problem/)
- [How decision trees work](https://brohrer.github.io/how_decision_trees_work.html)
- [Let’s Write a Decision Tree Classifier from Scratch](https://www.youtube.com/watch?v=LDRbO9a6XPU)

#### Random Forests
- [_An Introduction to Statistical Learning_](http://www-bcf.usc.edu/~gareth/ISL/), Chapter 8: Tree-Based Methods
- [Coloring with Random Forests](http://structuringtheunstructured.blogspot.com/2017/11/coloring-with-random-forests.html)
- _**[Random Forests for Complete Beginners: The definitive guide to Random Forests and Decision Trees](https://victorzhou.com/blog/intro-to-random-forests/)**_

#### Categorical encoding for trees
- [Are categorical variables getting lost in your random forests?](https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/)
- [Beyond One-Hot: An Exploration of Categorical Variables](http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/)
- _**[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)**_
- _**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)**_
- [Mean (likelihood) encodings: a comprehensive study](https://www.kaggle.com/vprokopev/mean-likelihood-encodings-a-comprehensive-study)
- [The Mechanics of Machine Learning, Chapter 6: Categorically Speaking](https://mlbook.explained.ai/catvars.html)

#### Imposter Syndrome
- [Effort Shock and Reward Shock (How The Karate Kid Ruined The Modern World)](http://www.tempobook.com/2014/07/09/effort-shock-and-reward-shock/)
- [How to manage impostor syndrome in data science](https://towardsdatascience.com/how-to-manage-impostor-syndrome-in-data-science-ad814809f068)
- ["I am not a real data scientist"](https://brohrer.github.io/imposter_syndrome.html)
- _**[Imposter Syndrome in Data Science](https://caitlinhudon.com/2018/01/19/imposter-syndrome-in-data-science/)**_


### More Categorical Encodings

**1.** The article **[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)** mentions 4 encodings:

- **"Categorical Encoding":** This means using the raw categorical values as-is, not encoded. Scikit-learn doesn't support this, but some tree algorithm implementations do. For example, [Catboost](https://catboost.ai/), or R's [rpart](https://cran.r-project.org/web/packages/rpart/index.html) package.
- **Numeric Encoding:** Synonymous with Label Encoding, or "Ordinal" Encoding with random order. We can use [category_encoders.OrdinalEncoder](https://contrib.scikit-learn.org/category_encoders/ordinal.html).
- **One-Hot Encoding:** We can use [category_encoders.OneHotEncoder](https://contrib.scikit-learn.org/category_encoders/onehot.html).
- **Binary Encoding:** We can use [category_encoders.BinaryEncoder](https://contrib.scikit-learn.org/category_encoders/binary.html).


**2.** The short video 
**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)** introduces an interesting idea: use both X _and_ y to encode categoricals.

Category Encoders has multiple implementations of this general concept:

- [CatBoost Encoder](https://contrib.scikit-learn.org/category_encoders/catboost.html)
- [Generalized Linear Mixed Model Encoder](https://contrib.scikit-learn.org/category_encoders/glmm.html)
- [James-Stein Encoder](https://contrib.scikit-learn.org/category_encoders/jamesstein.html)
- [Leave One Out](https://contrib.scikit-learn.org/category_encoders/leaveoneout.html)
- [M-estimate](https://contrib.scikit-learn.org/category_encoders/mestimate.html)
- [Target Encoder](https://contrib.scikit-learn.org/category_encoders/targetencoder.html)
- [Weight of Evidence](https://contrib.scikit-learn.org/category_encoders/woe.html)

Category Encoder's mean encoding implementations work for regression problems or binary classification problems. 

For multi-class classification problems, you will need to temporarily reformulate it as binary classification. For example:

```python
encoder = ce.TargetEncoder(min_samples_leaf=..., smoothing=...) # Both parameters > 1 to avoid overfitting
X_train_encoded = encoder.fit_transform(X_train, y_train=='functional')
X_val_encoded = encoder.transform(X_train, y_val=='functional')
```

For this reason, mean encoding won't work well within pipelines for multi-class classification problems.

**3.** The **[dirty_cat](https://dirty-cat.github.io/stable/)** library has a Target Encoder implementation that works with multi-class classification.

```python
 dirty_cat.TargetEncoder(clf_type='multiclass-clf')
```
It also implements an interesting idea called ["Similarity Encoder" for dirty categories](https://www.slideshare.net/GaelVaroquaux/machine-learning-on-non-curated-data-154905090).

However, it seems like dirty_cat doesn't handle missing values or unknown categories as well as category_encoders does. And you may need to use it with one column at a time, instead of with your whole dataframe.

**4. [Embeddings](https://www.kaggle.com/colinmorris/embedding-layers)** can work well with sparse / high cardinality categoricals.

_**I hope it’s not too frustrating or confusing that there’s not one “canonical” way to encode categoricals. It’s an active area of research and experimentation — maybe you can make your own contributions!**_

### Setup

You can work locally (follow the [local setup instructions](https://lambdaschool.github.io/ds/unit2/local/)) or on Colab (run the code cell below).

In [ ]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [ ]:

import pandas as pd
from sklearn.model_selection import train_test_split

train = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
sample_submission = pd.read_csv(DATA_PATH+'waterpumps/sample_submission.csv')

train.shape, test.shape

((59400, 41), (14358, 40))

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [ ]:
def null_values(DataFrame_Name):
    
    sum_null = DataFrame_Name.isnull().sum()
    total_count = DataFrame_Name.isnull().count()
    percent_nullvalues = sum_null/total_count * 100
    df_null = pd.DataFrame()
    df_null['Total_values'] = total_count
    df_null['Null_Count'] = sum_null
    df_null['Percent'] = percent_nullvalues
    df_null = df_null.sort_values(by='Null_Count',ascending = False)

    return(df_null)

In [ ]:
null_values(train)

                       Total_values  Null_Count    Percent
scheme_name                   59400       28166  47.417508
scheme_management             59400        3877   6.526936
installer                     59400        3655   6.153199
funder                        59400        3635   6.119529
public_meeting                59400        3334   5.612795
permit                        59400        3056   5.144781
subvillage                    59400         371   0.624579
payment                       59400           0   0.000000
waterpoint_type_group         59400           0   0.000000
extraction_type_group         59400           0   0.000000
extraction_type_class         59400           0   0.000000
waterpoint_type               59400           0   0.000000
management                    59400           0   0.000000
management_group              59400           0   0.000000
source_class                  59400           0   0.000000
source_type                   59400           0   0.000000
water_quality                 59400           0   0.000000
quality_group                 59400           0   0.000000
extraction_type               59400           0   0.000000
quantity                      59400           0   0.000000
quantity_group                59400           0   0.000000
source                        59400           0   0.000000
payment_type                  59400           0   0.000000
id                            59400           0   0.000000
construction_year             59400           0   0.000000
basin                         59400           0   0.000000
date_recorded                 59400           0   0.000000
gps_height                    59400           0   0.000000
longitude                     59400           0   0.000000
latitude                      59400           0   0.000000
wpt_name                      59400           0   0.000000
num_private                   59400           0   0.000000
region                        59400           0   0.000000
amount_tsh                    59400           0   0.000000
region_code                   59400           0   0.000000
district_code                 59400           0   0.000000
lga                           59400           0   0.000000
ward                          59400           0   0.000000
population                    59400           0   0.000000
recorded_by                   59400           0   0.000000
status_group                  59400           0   0.000000

In [ ]:
copy = train.copy()

In [ ]:
copy['functional'] = (copy['status_group']=='functional').astype(int)

In [ ]:
corr = copy.corr()**2
corr.functional.sort_values(ascending=False)

functional           1.000000e+00
gps_height           1.276673e-02
region_code          1.085301e-02
district_code        3.139167e-03
amount_tsh           2.748582e-03
construction_year    2.647843e-03
longitude            7.470275e-04
population           3.123675e-04
num_private          3.340702e-05
id                   1.586523e-05
latitude             1.691728e-07
Name: functional, dtype: float64

In [ ]:
train.head()

      id  amount_tsh  ... waterpoint_type_group    status_group
0  69572      6000.0  ...    communal standpipe      functional
1   8776         0.0  ...    communal standpipe      functional
2  34310        25.0  ...    communal standpipe      functional
3  67743         0.0  ...    communal standpipe  non functional
4  19728         0.0  ...    communal standpipe      functional

[5 rows x 41 columns]

In [ ]:
pd.to_datetime(train['date_recorded']).dt.year

0        2011
1        2013
2        2013
3        2013
4        2011
         ...
59395    2013
59396    2011
59397    2011
59398    2011
59399    2011
Name: date_recorded, Length: 59400, dtype: int64

## Data Wrangling

In [ ]:
## Duplicate Columns: 
# scheme_name / scheme_management
# Extraction_type/ extraction_type_group / extraction_type_class
# Management / management_group
# payment/ payment_type
# water_quality / quality_group
# quantity / quantity_group
# source / source_type / source_class
# waterpoint_type / waterpoint_type_group

In [ ]:
train.set_index('id', inplace=True)
test.set_index('id', inplace=True)

In [ ]:
## Writing a wrangle function 
import numpy as np

def wrangle(X):
  # Make a copy
  X = X.copy()

  # Replace bad lat. measurements with 0 to then replace with NaN
  X['latitude'] = X['latitude'].replace  (-2e-08, 0)

  # Replace all lons. and lats. with NaN
  cols_with_zeros = ['longitude', 'latitude']
  for col in cols_with_zeros:
    X[col] = X[col].replace(0, np.NaN)

  # Drop high cardinality
  hc_cols = [col for col in X.describe(include='object'). columns
             if X[col].nunique() > 100]

  # Engineer new column
  X['construction_year'] = X['construction_year'].replace(0, np.NaN)
  X['construction_year'] = X['construction_year'].ffill()
  X['date_recorded'] = pd.to_datetime(X['date_recorded']).dt.year
  X['yrs_since_construction'] = X['date_recorded'] - X['construction_year'] 

  # Drop high cards, our repeated column, num_private, and recorded_by
  X = X.drop(['quantity_group', 'num_private', 'recorded_by',
              'scheme_name', 'extraction_type_group', 'extraction_type_class',
              'management_group', 'payment_type', 'quantity_group', 'source_type',
              'source_class', 'waterpoint_type_group'] + hc_cols, axis=1)

  return X

In [ ]:
train = wrangle(train)
test = wrangle(test)

In [ ]:
train

       amount_tsh  gps_height  ...    status_group  yrs_since_construction
id                             ...
69572      6000.0        1390  ...      functional                    12.0
8776          0.0        1399  ...      functional                     3.0
34310        25.0         686  ...      functional                     4.0
67743         0.0         263  ...  non functional                    27.0
19728         0.0           0  ...      functional                    25.0
...           ...         ...  ...             ...                     ...
60739        10.0        1210  ...      functional                    14.0
27263      4700.0        1212  ...      functional                    15.0
37057         0.0           0  ...      functional                    15.0
31282         0.0           0  ...      functional                    15.0
26348         0.0         191  ...      functional                     9.0

[59400 rows x 23 columns]

## Splitting

In [ ]:
# split our featture matrix and target vector 
y = train['status_group']
X = train.drop('status_group', axis=1)

In [ ]:
# train-validation split 
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.19, random_state= 73)

## Baseline

In [ ]:
print('Baseline Accuracy:', y_train.value_counts(normalize=True).max())

Baseline Accuracy: 0.5442698590846738

In [ ]:
from sklearn.linear_model import LogisticRegression
from category_encoders import OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from category_encoders import OrdinalEncoder
from sklearn.ensemble import RandomForestClassifier

## Logistic Regression

In [ ]:
logmodel = make_pipeline(
    OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    StandardScaler(),
    LogisticRegression(n_jobs=-1)
)

logmodel.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['basin', 'region', 'public_meeting',
                                     'scheme_management', 'permit',
                                     'extraction_type', 'management', 'payment',
                                     'water_quality', 'quality_group',
                                     'quantity', 'source', 'waterpoint_type'],
                               drop_invariant=False, handle_missing='value',
                               handle_unknown='value', return_df=True,
                               use_cat_names=True, verbose=0...
                               verbose=0)),
                ('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=-1, penalty='l2',
                                    random_state=None, solver='lbfgs',
                                    tol=0.0001, verbose=0, warm_start=False))],
         verbose=False)

In [ ]:
print('Training Accuracy:', logmodel.score(X_train, y_train))
print('Validation Accuracy:', logmodel.score(X_val, y_val))

Training Accuracy: 0.7381843122583863
Validation Accuracy: 0.7327662590820485

## Decision Tree (simple imputer)

In [ ]:
  model = make_pipeline(
    OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    DecisionTreeClassifier(random_state=7, max_leaf_nodes=700)
)

model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['basin', 'region', 'public_meeting',
                                     'scheme_management', 'permit',
                                     'extraction_type', 'management', 'payment',
                                     'water_quality', 'quality_group',
                                     'quantity', 'source', 'waterpoint_type'],
                               drop_invariant=False, handle_missing='value',
                               handle_unknown='value', return_df=True,
                               use_cat_names=True, verbose=0...
                               missing_values=nan, strategy='mean',
                               verbose=0)),
                ('decisiontreeclassifier',
                 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                        criterion='gini', max_depth=None,
                                        max_features=None, max_leaf_nodes=700,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        presort='deprecated', random_state=7,
                                        splitter='best'))],
         verbose=False)

In [ ]:
print('Training Accuracy:', model.score(X_train, y_train))
print('Validation Accuracy:', model.score(X_val, y_val))

Training Accuracy: 0.8205096229787587
Validation Accuracy: 0.7700691121743753

## Decision Tree w Ordinal Encoder

In [ ]:
  modeloe = make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    DecisionTreeClassifier(random_state=7, max_leaf_nodes=1750)
)

modeloe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('ordinalencoder',
                 OrdinalEncoder(cols=['basin', 'region', 'public_meeting',
                                      'scheme_management', 'permit',
                                      'extraction_type', 'management',
                                      'payment', 'water_quality',
                                      'quality_group', 'quantity', 'source',
                                      'waterpoint_type'],
                                drop_invariant=False, handle_missing='value',
                                handle_unknown='value',
                                mapping=[{'col': 'basin',
                                          'data_type': dtype...
                               verbose=0)),
                ('decisiontreeclassifier',
                 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                        criterion='gini', max_depth=None,
                                        max_features=None, max_leaf_nodes=1750,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        presort='deprecated', random_state=7,
                                        splitter='best'))],
         verbose=False)

In [ ]:
print('Training Accuracy:', modeloe.score(X_train, y_train))
print('Validation Accuracy:', modeloe.score(X_val, y_val))

Training Accuracy: 0.8616826703246456
Validation Accuracy: 0.7737019315966684

## RandomForest with Ordinal encoder

In [ ]:
  modelrfoe = make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    RandomForestClassifier(random_state=17, max_leaf_nodes=2000)
)

modelrfoe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('ordinalencoder',
                 OrdinalEncoder(cols=['basin', 'region', 'public_meeting',
                                      'scheme_management', 'permit',
                                      'extraction_type', 'management',
                                      'payment', 'water_quality',
                                      'quality_group', 'quantity', 'source',
                                      'waterpoint_type'],
                                drop_invariant=False, handle_missing='value',
                                handle_unknown='value',
                                mapping=[{'col': 'basin',
                                          'data_type': dtype...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=2000, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=17,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [ ]:
print('Training Accuracy:', modelrfoe.score(X_train, y_train))
print('Validation Accuracy:', modelrfoe.score(X_val, y_val))

Training Accuracy: 0.8680841335162323
Validation Accuracy: 0.7957646641857168

## Random Forrest with OHE

In [ ]:
  modelrfohe = make_pipeline(
    OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    RandomForestClassifier(random_state=17, max_leaf_nodes=3500)
)

modelrfohe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['basin', 'region', 'public_meeting',
                                     'scheme_management', 'permit',
                                     'extraction_type', 'management', 'payment',
                                     'water_quality', 'quality_group',
                                     'quantity', 'source', 'waterpoint_type'],
                               drop_invariant=False, handle_missing='value',
                               handle_unknown='value', return_df=True,
                               use_cat_names=True, verbose=0...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=3500, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=17,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [ ]:
print('Training Accuracy:', modelrfohe.score(X_train, y_train))
print('Validation Accuracy:', modelrfohe.score(X_val, y_val))

Training Accuracy: 0.8970777736209835
Validation Accuracy: 0.8028530923267765

## LightGBM

In [ ]:
from lightgbm import LGBMClassifier

In [ ]:
  modelLGBM = make_pipeline(
    OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    LGBMClassifier(random_state=17, num_leaves=385)
)

modelLGBM.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['basin', 'region', 'public_meeting',
                                     'scheme_management', 'permit',
                                     'extraction_type', 'management', 'payment',
                                     'water_quality', 'quality_group',
                                     'quantity', 'source', 'waterpoint_type'],
                               drop_invariant=False, handle_missing='value',
                               handle_unknown='value', return_df=True,
                               use_cat_names=True, verbose=0...
                 LGBMClassifier(boosting_type='gbdt', class_weight=None,
                                colsample_bytree=1.0, importance_type='split',
                                learning_rate=0.1, max_depth=-1,
                                min_child_samples=20, min_child_weight=0.001,
                                min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                num_leaves=385, objective=None, random_state=17,
                                reg_alpha=0.0, reg_lambda=0.0, silent=True,
                                subsample=1.0, subsample_for_bin=200000,
                                subsample_freq=0))],
         verbose=False)

In [ ]:
print('Training Accuracy:', modelLGBM.score(X_train, y_train))
print('Validation Accuracy:', modelLGBM.score(X_val, y_val))

Training Accuracy: 0.9229746019869477
Validation Accuracy: 0.803384724437356

In [ ]:
# copy of submission 
submission_lgbm = sample_submission.copy()

In [ ]:
# make predictions on test data
y_pred = modelLGBM.predict(test)

In [ ]:
submission_lgbm['status_group'] = y_pred

In [ ]:
submission_lgbm.to_csv('submission_lgbm.csv', index = False)

#LightGBM w Ordinal encoder

In [ ]:
  modelLGBMoe = make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    LGBMClassifier(random_state=17, num_leaves=380)
)

modelLGBMoe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('ordinalencoder',
                 OrdinalEncoder(cols=['basin', 'region', 'public_meeting',
                                      'scheme_management', 'permit',
                                      'extraction_type', 'management',
                                      'payment', 'water_quality',
                                      'quality_group', 'quantity', 'source',
                                      'waterpoint_type'],
                                drop_invariant=False, handle_missing='value',
                                handle_unknown='value',
                                mapping=[{'col': 'basin',
                                          'data_type': dtype...
                 LGBMClassifier(boosting_type='gbdt', class_weight=None,
                                colsample_bytree=1.0, importance_type='split',
                                learning_rate=0.1, max_depth=-1,
                                min_child_samples=20, min_child_weight=0.001,
                                min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                num_leaves=380, objective=None, random_state=17,
                                reg_alpha=0.0, reg_lambda=0.0, silent=True,
                                subsample=1.0, subsample_for_bin=200000,
                                subsample_freq=0))],
         verbose=False)

In [ ]:
print('Training Accuracy:', modelLGBMoe.score(X_train, y_train))
print('Validation Accuracy:', modelLGBMoe.score(X_val, y_val))

Training Accuracy: 0.9233487134721703
Validation Accuracy: 0.8022328548644339

In [ ]:
# copy of submission 
submission_two = sample_submission.copy()

In [ ]:
# make predictions on test data
y_pred = modelLGBM.predict(test)

In [ ]:
submission_two['status_group'] = y_pred

In [ ]:
submission_two.to_csv('submission_two.csv', index = False)