Lambda School Data Science

*Unit 2, Sprint 2, Module 3*

---

# Cross-Validation


## Assignment
- [ ] [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2), then submit your dataset.
- [ ] Continue to participate in our Kaggle challenge. 
- [ ] Use scikit-learn for hyperparameter optimization with RandomizedSearchCV.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.


You won't be able to just copy from the lesson notebook to this assignment.

- Because the lesson was ***regression***, but the assignment is ***classification.***
- Because the lesson used [TargetEncoder](https://contrib.scikit-learn.org/categorical-encoding/targetencoder.html), which doesn't work as-is for _multi-class_ classification.

So you will have to adapt the example, which is good real-world practice.

1. Use a model for classification, such as [RandomForestClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)
2. Use hyperparameters that match the classifier, such as `randomforestclassifier__ ...`
3. Use a metric for classification, such as [`scoring='accuracy'`](https://scikit-learn.org/stable/modules/model_evaluation.html#common-cases-predefined-values)
4. If you’re doing a multi-class classification problem — such as whether a waterpump is functional, functional needs repair, or nonfunctional — then use a categorical encoding that works for multi-class classification, such as [OrdinalEncoder](https://contrib.scikit-learn.org/categorical-encoding/ordinal.html) (not [TargetEncoder](https://contrib.scikit-learn.org/categorical-encoding/targetencoder.html))



## Stretch Goals

### Reading
- Jake VanderPlas, [Python Data Science Handbook, Chapter 5.3](https://jakevdp.github.io/PythonDataScienceHandbook/05.03-hyperparameters-and-model-validation.html), Hyperparameters and Model Validation
- Jake VanderPlas, [Statistics for Hackers](https://speakerdeck.com/jakevdp/statistics-for-hackers?slide=107)
- Ron Zacharski, [A Programmer's Guide to Data Mining, Chapter 5](http://guidetodatamining.com/chapter5/), 10-fold cross validation
- Sebastian Raschka, [A Basic Pipeline and Grid Search Setup](https://github.com/rasbt/python-machine-learning-book/blob/master/code/bonus/svm_iris_pipeline_and_gridsearch.ipynb)
- Peter Worcester, [A Comparison of Grid Search and Randomized Search Using Scikit Learn](https://blog.usejournal.com/a-comparison-of-grid-search-and-randomized-search-using-scikit-learn-29823179bc85)

### Doing
- Add your own stretch goals!
- Try other [categorical encodings](https://contrib.scikit-learn.org/categorical-encoding/). See the previous assignment notebook for details.
- In additon to `RandomizedSearchCV`, scikit-learn has [`GridSearchCV`](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html). Another library called scikit-optimize has [`BayesSearchCV`](https://scikit-optimize.github.io/notebooks/sklearn-gridsearchcv-replacement.html). Experiment with these alternatives.
- _[Introduction to Machine Learning with Python](http://shop.oreilly.com/product/0636920030515.do)_ discusses options for "Grid-Searching Which Model To Use" in Chapter 6:

> You can even go further in combining GridSearchCV and Pipeline: it is also possible to search over the actual steps being performed in the pipeline (say whether to use StandardScaler or MinMaxScaler). This leads to an even bigger search space and should be considered carefully. Trying all possible solutions is usually not a viable machine learning strategy. However, here is an example comparing a RandomForestClassifier and an SVC ...

The example is shown in [the accompanying notebook](https://github.com/amueller/introduction_to_ml_with_python/blob/master/06-algorithm-chains-and-pipelines.ipynb), code cells 35-37. Could you apply this concept to your own pipelines?

### BONUS: Stacking!

Here's some code you can use to "stack" multiple submissions, which is another form of ensembling:

```python
import pandas as pd

# Filenames of your submissions you want to ensemble
files = ['submission-01.csv', 'submission-02.csv', 'submission-03.csv']

target = 'status_group'
submissions = (pd.read_csv(file)[[target]] for file in files)
ensemble = pd.concat(submissions, axis='columns')
majority_vote = ensemble.mode(axis='columns')[0]

sample_submission = pd.read_csv('sample_submission.csv')
submission = sample_submission.copy()
submission[target] = majority_vote
submission.to_csv('my-ultimate-ensemble-submission.csv', index=False)
```

In [21]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

pd.set_option('display.max_columns', 50)

from sklearn.ensemble import RandomForestClassifier

import category_encoders as ce

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import QuantileTransformer
from sklearn.preprocessing import RobustScaler

from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

from sklearn.pipeline import make_pipeline

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
import pandas as pd
import numpy as np

# Merge train_features.csv & train_labels.csv
train = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))

# Read test_features.csv & sample_submission.csv
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
sample_submission = pd.read_csv(DATA_PATH+'waterpumps/sample_submission.csv')

In [5]:
train.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [6]:
train.head()
values = pd.DataFrame(train.status_group.value_counts())
values['percent_of_total'] = values.status_group/sum(values.status_group)*100
values.head()

                         status_group  percent_of_total
functional                      32259         54.308081
non functional                  22824         38.424242
functional needs repair          4317          7.267677

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
id                       59400 non-null int64
amount_tsh               59400 non-null float64
date_recorded            59400 non-null object
funder                   55765 non-null object
gps_height               59400 non-null int64
installer                55745 non-null object
longitude                59400 non-null float64
latitude                 59400 non-null float64
wpt_name                 59400 non-null object
num_private              59400 non-null int64
basin                    59400 non-null object
subvillage               59029 non-null object
region                   59400 non-null object
region_code              59400 non-null int64
district_code            59400 non-null int64
lga                      59400 non-null object
ward                     59400 non-null object
population               59400 non-null int64
public_meeting           56066 non-null object
recorded_by              59400 non-null object
scheme_management        55523 non-null object
scheme_name              31234 non-null object
permit                   56344 non-null object
construction_year        59400 non-null int64
extraction_type          59400 non-null object
extraction_type_group    59400 non-null object
extraction_type_class    59400 non-null object
management               59400 non-null object
management_group         59400 non-null object
payment                  59400 non-null object
payment_type             59400 non-null object
water_quality            59400 non-null object
quality_group            59400 non-null object
quantity                 59400 non-null object
quantity_group           59400 non-null object
source                   59400 non-null object
source_type              59400 non-null object
source_class             59400 non-null object
waterpoint_type          59400 non-null object
waterpoint_type_group    59400 non-null object
status_group             59400 non-null object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [9]:
conts = train.select_dtypes('number')
conts.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [10]:
train.select_dtypes('object').describe()

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
count,59400,55765,55745,59400,59400,59029,59400,59400,59400,56066,...,59400,59400,59400,59400,59400,59400,59400,59400,59400,59400
unique,356,1897,2145,37400,9,19287,21,125,2092,2,...,8,6,5,5,10,7,3,7,6,3
top,2011-03-15,Government Of Tanzania,DWE,none,Lake Victoria,Madukani,Iringa,Njombe,Igosi,True,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
freq,572,9084,17402,3563,10248,508,5294,2503,307,51011,...,50818,50818,33186,33186,17021,17021,45794,28522,34625,32259

In [12]:
columns = train.select_dtypes('object').columns.tolist()
for feats in columns:
  print(feats)
  print(train[feats].unique())

date_recorded
['2011-03-14' '2013-03-06' '2013-02-25' '2013-01-28' '2011-07-13'
 '2011-03-13' '2012-10-01' '2012-10-09' '2012-11-03' '2011-08-03'
 '2011-02-20' '2013-02-18' '2012-10-14' '2013-03-15' '2012-10-20'
 '2011-08-04' '2011-07-04' '2011-09-04' '2011-07-22' '2011-02-22'
 '2011-02-27' '2013-02-10' '2011-10-04' '2013-11-03' '2013-01-21'
 '2013-01-16' '2011-07-11' '2013-03-05' '2013-03-16' '2011-03-23'
 '2011-03-16' '2013-03-19' '2011-03-11' '2011-02-23' '2013-03-28'
 '2011-07-16' '2011-03-27' '2013-02-11' '2013-10-03' '2011-03-12'
 '2011-07-07' '2013-01-15' '2013-03-18' '2012-10-22' '2013-02-05'
 '2011-07-27' '2011-04-04' '2013-02-21' '2011-08-18' '2011-07-31'
 '2011-08-01' '2011-07-14' '2013-02-22' '2013-07-03' '2013-08-03'
 '2013-01-22' '2011-03-22' '2013-05-03' '2013-01-19' '2013-02-09'
 '2011-01-04' '2013-02-04' '2011-03-05' '2011-03-31' '2013-02-27'
 '2011-08-07' '2011-03-30' '2012-10-23' '2011-03-02' '2011-03-04'
 '2013-03-14' '2012-10-18' '2011-08-08' '2011-09-05' '2011-04-11'
 '2013-01-17' '2013-01-20' '2013-01-27' '2013-02-19' '2012-10-06'
 '2013-02-13' '2013-02-26' '2013-02-16' '2013-02-17' '2011-07-21'
 '2011-03-07' '2011-07-12' '2011-07-17' '2011-04-07' '2011-04-10'
 '2012-10-29' '2011-02-25' '2012-10-11' '2013-02-14' '2012-10-05'
 '2011-07-19' '2011-04-15' '2011-03-17' '2013-01-25' '2011-10-07'
 '2011-02-24' '2013-03-21' '2011-08-02' '2011-02-03' '2013-01-24'
 '2012-10-21' '2011-04-16' '2013-02-03' '2013-02-24' '2011-04-02'
 '2012-10-19' '2013-01-30' '2011-03-03' '2011-08-17' '2011-03-28'
 '2011-07-23' '2013-02-06' '2011-08-11' '2011-03-09' '2011-03-18'
 '2013-03-07' '2011-08-14' '2013-09-03' '2011-02-16' '2011-04-03'
 '2011-07-09' '2011-04-12' '2011-04-14' '2011-03-10' '2013-03-25'
 '2013-02-28' '2013-01-18' '2012-10-10' '2011-07-03' '2011-08-05'
 '2011-07-20' '2013-03-13' '2011-03-15' '2011-07-18' '2013-03-03'
 '2011-11-07' '2013-04-04' '2012-10-16' '2013-03-23' '2013-04-03'
 '2013-02-08' '2011-03-21' '2011-04-05' '2012-10-15' '2011-03-19'
 '2013-06-03' '2013-03-29' '2012-10-28' '2011-07-15' '2012-10-12'
 '2011-07-29' '2011-08-06' '2012-10-13' '2013-03-02' '2013-02-12'
 '2013-01-29' '2013-01-04' '2012-10-25' '2012-11-13' '2013-02-01'
 '2011-08-10' '2013-03-17' '2011-07-30' '2011-02-21' '2011-02-17'
 '2011-08-19' '2013-02-15' '2013-02-02' '2013-01-26' '2011-04-06'
 '2011-08-21' '2013-03-24' '2013-10-02' '2011-04-01' '2013-02-23'
 '2013-02-20' '2011-04-08' '2011-03-29' '2011-03-25' '2013-03-01'
 '2013-05-04' '2012-11-05' '2011-03-24' '2011-03-20' '2013-03-04'
 '2012-10-26' '2013-06-04' '2011-08-20' '2013-02-07' '2011-07-24'
 '2011-07-25' '2013-03-22' '2013-08-02' '2011-07-28' '2013-03-12'
 '2013-03-30' '2013-12-03' '2011-03-26' '2011-03-08' '2013-01-23'
 '2012-11-04' '2012-10-02' '2012-10-07' '2011-04-18' '2012-11-15'
 '2011-08-12' '2011-08-23' '2012-10-08' '2011-02-26' '2013-03-26'
 '2011-03-01' '2012-12-14' '2011-02-14' '2013-01-14' '2012-10-04'
 '2011-07-26' '2012-10-27' '2012-10-17' '2013-09-02' '2012-10-03'
 '2013-03-20' '2012-11-08' '2011-02-15' '2012-10-24' '2013-03-10'
 '2011-07-06' '2011-07-08' '2012-12-13' '2011-08-25' '2004-08-01'
 '2011-04-09' '2012-10-31' '2011-03-06' '2013-07-02' '2012-11-12'
 '2011-02-28' '2011-02-02' '2013-01-31' '2011-07-10' '2011-04-17'
 '2011-07-05' '2011-06-04' '2011-08-22' '2011-01-03' '2013-01-13'
 '2012-11-09' '2013-01-11' '2011-01-08' '2013-07-04' '2011-02-18'
 '2011-08-13' '2012-11-06' '2011-06-03' '2013-01-12' '2013-03-08'
 '2004-12-01' '2012-12-16' '2011-04-13' '2012-11-01' '2013-03-27'
 '2011-12-03' '2013-01-08' '2011-04-19' '2012-12-15' '2012-10-30'
 '2011-08-16' '2013-01-07' '2013-01-03' '2013-05-02' '2011-08-15'
 '2011-02-19' '2011-11-03' '2011-04-21' '2013-01-10' '2012-11-10'
 '2011-12-07' '2012-11-11' '2011-10-03' '2011-08-26' '2011-04-22'
 '2011-08-09' '2011-06-07' '2002-10-14' '2013-03-09' '2011-02-04'
 '2013-01-09' '2012-12-12' '2012-11-14' '2012-12-11' '2011-04-20'
 '2012-12-18' '2011-08-27' '2013-12-02' '2013-11-02' '2011-09-27'
 '2011-08-24' '2011-09-03' '2012-11-29' '2011-09-19' '2012-12-21'
 '2012-11-02' '2013-03-11' '2012-11-19' '2011-05-03' '2012-12-10'
 '2011-11-04' '2004-05-01' '2004-04-05' '2012-12-17' '2012-11-07'
 '2012-11-30' '2004-06-01' '2011-05-07' '2012-12-23' '2011-09-09'
 '2012-12-24' '2011-05-04' '2011-04-23' '2013-04-02' '2011-02-01'
 '2011-09-18' '2011-09-06' '2011-09-20' '2004-03-01' '2011-09-17'
 '2013-01-01' '2004-01-07' '2004-07-01' '2011-09-11' '2011-08-31'
 '2011-09-21' '2011-08-30' '2011-08-28' '2011-09-01' '2011-09-28'
 '2011-09-16' '2011-09-13' '2011-09-08' '2011-09-23' '2013-01-06'
 '2011-09-14' '2004-03-06' '2012-01-21' '2012-01-25' '2011-09-15'
 '2011-09-25' '2004-09-01' '2004-04-01' '2011-09-26' '2011-09-12'
 '2013-12-01']
funder
['Roman' 'Grumeti' 'Lottery Club' ... 'Dina' 'Brown' 'Samlo']
installer
['Roman' 'GRUMETI' 'World vision' ... 'Dina' 'brown' 'SELEPTA']
wpt_name
['none' 'Zahanati' 'Kwa Mahundi' ... 'Kwa Yahona Kuvala' 'Mshoro'
 'Kwa Mzee Lugawa']
basin
['Lake Nyasa' 'Lake Victoria' 'Pangani' 'Ruvuma / Southern Coast'
 'Internal' 'Lake Tanganyika' 'Wami / Ruvu' 'Rufiji' 'Lake Rukwa']
subvillage
['Mnyusi B' 'Nyamara' 'Majengo' ... 'Itete B' 'Maore Kati' 'Kikatanyemba']
region
['Iringa' 'Mara' 'Manyara' 'Mtwara' 'Kagera' 'Tanga' 'Shinyanga' 'Tabora'
 'Pwani' 'Ruvuma' 'Kilimanjaro' 'Rukwa' 'Mwanza' 'Kigoma' 'Lindi' 'Dodoma'
 'Arusha' 'Mbeya' 'Singida' 'Morogoro' 'Dar es Salaam']
lga
['Ludewa' 'Serengeti' 'Simanjiro' 'Nanyumbu' 'Karagwe' 'Mkinga'
 'Shinyanga Rural' 'Kahama' 'Tabora Urban' 'Mkuranga' 'Namtumbo' 'Maswa'
 'Siha' 'Meatu' 'Sumbawanga Rural' 'Njombe' 'Ukerewe' 'Bariadi' 'Same'
 'Kigoma Rural' 'Moshi Rural' 'Lindi Rural' 'Rombo' 'Chamwino' 'Bagamoyo'
 'Mafia' 'Arusha Rural' 'Kyela' 'Kondoa' 'Kilolo' 'Kibondo' 'Makete'
 'Singida Rural' 'Masasi' 'Rungwe' 'Moshi Urban' 'Geita' 'Mbulu'
 'Bukoba Rural' 'Muheza' 'Lushoto' 'Meru' 'Iramba' 'Kilombero' 'Mbarali'
 'Kasulu' 'Bukoba Urban' 'Korogwe' 'Bukombe' 'Morogoro Rural' 'Kishapu'
 'Musoma Rural' 'Sengerema' 'Iringa Rural' 'Muleba' 'Dodoma Urban'
 'Ruangwa' 'Hanang' 'Misenyi' 'Missungwi' 'Songea Rural' 'Tanga' 'Tunduru'
 'Hai' 'Mwanga' 'Chato' 'Biharamulo' 'Ileje' 'Mpwapwa' 'Mvomero' 'Bunda'
 'Kiteto' 'Longido' 'Urambo' 'Mbozi' 'Sikonge' 'Ilala' 'Tarime' 'Temeke'
 'Mbeya Rural' 'Magu' 'Manyoni' 'Igunga' 'Kilosa' 'Babati' 'Chunya'
 'Mufindi' 'Mtwara Rural' 'Ngara' 'Karatu' 'Mpanda' 'Kibaha'
 'Singida Urban' 'Newala' 'Nzega' 'Nkasi' 'Bahi' 'Mbinga' 'Ulanga'
 'Sumbawanga Urban' 'Morogoro Urban' 'Tandahimba' 'Kisarawe'
 'Mtwara Urban' 'Kilwa' 'Liwale' 'Kongwa' 'Uyui' 'Rufiji' 'Kwimba'
 'Monduli' 'Shinyanga Urban' 'Ngorongoro' 'Handeni' 'Rorya' 'Pangani'
 'Lindi Urban' 'Nachingwea' 'Kinondoni' 'Kigoma Urban' 'Ilemela' 'Kilindi'
 'Arusha Urban' 'Songea Urban' 'Nyamagana']
ward
['Mundindi' 'Natta' 'Ngorika' ... 'Chinugulu' 'Nyamtinga' 'Kinungu']
public_meeting
[True nan False]
recorded_by
['GeoData Consultants Ltd']
scheme_management
['VWC' 'Other' nan 'Private operator' 'WUG' 'Water Board' 'WUA'
 'Water authority' 'Company' 'Parastatal' 'Trust' 'SWC' 'None']
scheme_name
['Roman' nan 'Nyumba ya mungu pipe scheme' ... 'BL Nsherehehe'
 'Magati  gravity spri' 'Mtawanya']
permit
[False True nan]
extraction_type
['gravity' 'submersible' 'swn 80' 'nira/tanira' 'india mark ii' 'other'
 'ksb' 'mono' 'windmill' 'afridev' 'other - rope pump' 'india mark iii'
 'other - swn 81' 'other - play pump' 'cemo' 'climax' 'walimi'
 'other - mkulima/shinyanga']
extraction_type_group
['gravity' 'submersible' 'swn 80' 'nira/tanira' 'india mark ii' 'other'
 'mono' 'wind-powered' 'afridev' 'rope pump' 'india mark iii'
 'other handpump' 'other motorpump']
extraction_type_class
['gravity' 'submersible' 'handpump' 'other' 'motorpump' 'wind-powered'
 'rope pump']
management
['vwc' 'wug' 'other' 'private operator' 'water board' 'wua' 'company'
 'water authority' 'parastatal' 'unknown' 'other - school' 'trust']
management_group
['user-group' 'other' 'commercial' 'parastatal' 'unknown']
payment
['pay annually' 'never pay' 'pay per bucket' 'unknown'
 'pay when scheme fails' 'other' 'pay monthly']
payment_type
['annually' 'never pay' 'per bucket' 'unknown' 'on failure' 'other'
 'monthly']
water_quality
['soft' 'salty' 'milky' 'unknown' 'fluoride' 'coloured' 'salty abandoned'
 'fluoride abandoned']
quality_group
['good' 'salty' 'milky' 'unknown' 'fluoride' 'colored']
quantity
['enough' 'insufficient' 'dry' 'seasonal' 'unknown']
quantity_group
['enough' 'insufficient' 'dry' 'seasonal' 'unknown']
source
['spring' 'rainwater harvesting' 'dam' 'machine dbh' 'other'
 'shallow well' 'river' 'hand dtw' 'lake' 'unknown']
source_type
['spring' 'rainwater harvesting' 'dam' 'borehole' 'other' 'shallow well'
 'river/lake']
source_class
['groundwater' 'surface' 'unknown']
waterpoint_type
['communal standpipe' 'communal standpipe multiple' 'hand pump' 'other'
 'improved spring' 'cattle trough' 'dam']
waterpoint_type_group
['communal standpipe' 'hand pump' 'other' 'improved spring'
 'cattle trough' 'dam']
status_group
['functional' 'non functional' 'functional needs repair']

In [13]:
train.recorded_by.value_counts()

GeoData Consultants Ltd    59400
Name: recorded_by, dtype: int64

In [14]:
train.latitude.value_counts()

-2.000000e-08    1812
-6.990549e+00       2
-2.489378e+00       2
-2.515321e+00       2
-6.963565e+00       2
                 ...
-1.086099e+01       1
-3.149066e+00       1
-3.305834e+00       1
-9.076967e+00       1
-2.598965e+00       1
Name: latitude, Length: 57517, dtype: int64

In [15]:
train.longitude.value_counts()

0.000000     1812
39.088875       2
39.105307       2
37.543401       2
38.180538       2
             ...
38.710520       1
40.117029       1
34.672962       1
39.433604       1
34.890838       1
Name: longitude, Length: 57516, dtype: int64

In [16]:
train.ward.value_counts()
train.subvillage.value_counts()

Madukani      508
Shuleni       506
Majengo       502
Kati          373
Mtakuja       262
             ...
Mwamhala        1
Masinyumbi      1
Ksiwani         1
Ziwani 1        1
Katiazo         1
Name: subvillage, Length: 19287, dtype: int64

In [17]:
def wrangle(X):
    
    X = X.copy()

    # Convert date_recorded to datetime
    X['date_recorded'] = pd.to_datetime(X['date_recorded'], infer_datetime_format=True)
    
    # Extract components from date_recorded, then drop the original column
    X['year_recorded'] = X['date_recorded'].dt.year
    X['month_recorded'] = X['date_recorded'].dt.month
    X['day_recorded'] = X['date_recorded'].dt.day
    X = X.drop(columns='date_recorded')
    
    # Engineer feature: how many years from construction_year to date_recorded
    X['age'] = X['year_recorded'] - X['construction_year']    
    
    # Drop recorded_by (never varies) and id (always varies, random)
    X = X.drop(columns=['recorded_by', 'id'])
    
    # Drop duplicate columns
    duplicate_columns = ['quantity_group']
    X = X.drop(columns=duplicate_columns)
    
    #LONG/LAT to NAN
    X['latitude'] = X['latitude'].replace(-2e-08, np.nan)
    
    # Feature Eng Population and age of pump
    X['pop/years'] = X['population'] / X['age']
                                         
    
    #GPS height
    X['gps_height'] = X['gps_height'].replace(0, X['gps_height'].mean() )
    
    # When columns have zeros and shouldn't, they are like null values
    cols_with_zeros = ['construction_year', 'longitude', 'latitude', 'population']
    for col in cols_with_zeros:
        X[col] = X[col].replace(0, np.nan)
        
    # For categoricals with missing values, fill with the category 'MISSING'
    categoricals = X.select_dtypes(exclude='number').columns
    for col in categoricals:
        X[col] = X[col].fillna('MISSING')
    
    return X

In [18]:
train = wrangle(train)
test = wrangle(test)

In [19]:
drop = ["funder",
        "ward",
]
train.drop(drop, axis=1, inplace=True)
test.drop(drop, axis=1, inplace=True)

In [22]:
X_train = train
y_train = train['status_group']

X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, train_size = 0.80, test_size = 0.20, 
    stratify = y_train, random_state = 42)

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((47520, 40), (11880, 40), (47520,), (11880,))

In [23]:
X_train.describe(exclude='number').T.sort_values(by='unique')

                       count unique                 top   freq
status_group           47520      3          functional  25807
source_class           47520      3         groundwater  36638
public_meeting         47520      3                True  40838
permit                 47520      3                True  31071
quantity               47520      5              enough  26567
management_group       47520      5          user-group  42027
quality_group          47520      6                good  40598
waterpoint_type_group  47520      6  communal standpipe  27642
waterpoint_type        47520      7  communal standpipe  22778
source_type            47520      7              spring  13620
payment_type           47520      7           never pay  20287
payment                47520      7           never pay  20287
extraction_type_class  47520      7             gravity  21448
water_quality          47520      8                soft  40598
basin                  47520      9       Lake Victoria   8137
source                 47520     10              spring  13620
management             47520     12                 vwc  32449
scheme_management      47520     13                 VWC  29470
extraction_type_group  47520     13             gravity  21448
extraction_type        47520     18             gravity  21448
region                 47520     21              Iringa   4250
lga                    47520    124              Njombe   2003
installer              47520   1930                 DWE  13978
scheme_name            47520   2564             MISSING  22532
subvillage             47520  17232             Shuleni    420
wpt_name               47520  30661                none   2879

In [24]:
categorical_features = [
    'quantity','extraction_type',
    'extraction_type_group','management',
    'management_group','source','source_type',
    'waterpoint_type','basin','region',
    'scheme_management','extraction_type_class',
    'payment','payment_type','waterpoint_type_group', 
    
    
]

numeric_features = X_train.select_dtypes('number').columns.tolist()
features = categorical_features + numeric_features

X_train_subset = X_train[features]
X_val_subset = X_val[features]
X_test = test_features[features]

NameError: name 'test_features' is not defined