Lambda School Data Science, Unit 2: Predictive Modeling

# Kaggle Challenge, Module 1

## Assignment
- [ ] Do train/validate/test split with the Tanzania Waterpumps data.
- [ ] Define a function to wrangle train, validate, and test sets in the same way. Clean outliers and engineer features. (For example, [what other columns have zeros and shouldn't?](https://github.com/Quartz/bad-data-guide#zeros-replace-missing-values) What other columns are duplicates, or nearly duplicates? Can you extract the year from date_recorded? Can you engineer new features, such as the number of years from waterpump construction to waterpump inspection?)
- [ ] Select features. Use a scikit-learn pipeline to encode categoricals, impute missing values, and fit a decision tree classifier.
- [ ] Get your validation accuracy score.
- [ ] Get and plot your feature importances.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

### Reading

- A Visual Introduction to Machine Learning
  - [Part 1: A Decision Tree](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/)
  - [Part 2: Bias and Variance](http://www.r2d3.us/visual-intro-to-machine-learning-part-2/)
- [Decision Trees: Advantages & Disadvantages](https://christophm.github.io/interpretable-ml-book/tree.html#advantages-2)
- [How a Russian mathematician constructed a decision tree — by hand — to solve a medical problem](http://fastml.com/how-a-russian-mathematician-constructed-a-decision-tree-by-hand-to-solve-a-medical-problem/)
- [How decision trees work](https://brohrer.github.io/how_decision_trees_work.html)
- [Let’s Write a Decision Tree Classifier from Scratch](https://www.youtube.com/watch?v=LDRbO9a6XPU) — _Don’t worry about understanding the code, just get introduced to the concepts. This 10 minute video has excellent diagrams and explanations._
- [Random Forests for Complete Beginners: The definitive guide to Random Forests and Decision Trees](https://victorzhou.com/blog/intro-to-random-forests/)


### Doing
- [ ] Add your own stretch goal(s) !
- [ ] Try other [scikit-learn imputers](https://scikit-learn.org/stable/modules/impute.html).
- [ ] Try other [scikit-learn scalers](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Make exploratory visualizations and share on Slack.


#### Exploratory visualizations

Visualize the relationships between feature(s) and target. I recommend you do this with your training set, after splitting your data. 

For this problem, you may want to create a new column to represent the target as a number, 0 or 1. For example:

```python
train['functional'] = (train['status_group']=='functional').astype(int)
```



You can try [Seaborn "Categorical estimate" plots](https://seaborn.pydata.org/tutorial/categorical.html) for features with reasonably few unique values. (With too many unique values, the plot is unreadable.)

- Categorical features. (If there are too many unique values, you can replace less frequent values with "OTHER.")
- Numeric features. (If there are too many unique values, you can [bin with pandas cut / qcut functions](https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html?highlight=qcut#discretization-and-quantiling).)

You can try [Seaborn linear model plots](https://seaborn.pydata.org/tutorial/regression.html) with numeric features. For this problem, you may want to use the parameter `logistic=True`

You do _not_ need to use Seaborn, but it's nice because it includes confidence intervals to visualize uncertainty.

#### High-cardinality categoricals

This code from a previous assignment demonstrates how to replace less frequent values with 'OTHER'

```python
# Reduce cardinality for NEIGHBORHOOD feature ...

# Get a list of the top 10 neighborhoods
top10 = train['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10,
# replace the neighborhood with 'OTHER'
train.loc[~train['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'
test.loc[~test['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'
```

In [0]:
# If you're in Colab...
import os, sys
in_colab = 'google.colab' in sys.modules

if in_colab:
    # Install required python packages:
    # category_encoders, version >= 2.0
    # pandas-profiling, version >= 2.0
    # plotly, version >= 4.0
    !pip install --upgrade category_encoders pandas-profiling plotly
    
    # Pull files from Github repo
    os.chdir('/content')
    !git init .
    !git remote add origin https://github.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge.git
    !git pull origin master
    
    # Change into directory for module
    os.chdir('module1')

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
import category_encoders as ce
from sklearn.impute import SimpleImputer

In [3]:
train = pd.merge(pd.read_csv('../data/tanzania/train_features.csv'), 
                 pd.read_csv('../data/tanzania/train_labels.csv'))
test = pd.read_csv('../data/tanzania/test_features.csv')
sample_submission = pd.read_csv('../data/tanzania/sample_submission.csv')
train,val = train_test_split(train,random_state = 32,stratify=train['status_group'],test_size=0.20)
train.shape, test.shape

FileNotFoundError: ignored

In [0]:
#After doing exhaustive study of data both graphically and by basic functions , the following are the observations
#Not relevant or too many null vaues funder, installer,scheme_name,num_private,scheme_name
#High cardinality wpt_name,subvillage,lga,ward
#remove region code as region is considered
#remove scheme_management as management is considered
#constant value recorded_by
#keeping extraction_type and removing extraction_type_group and extraction_type_class
#payment_type and payment are same
#removing waterpoint_type_group as it can be replaced with waterpoint_type
#keeping water_quality as same as quality_group
#quantity_group and quantity are same
#source and source_type are same 

drop_columns = ['funder','installer','scheme_name','scheme_name','scheme_name','wpt_name',
                'subvillage','lga','ward','recorded_by','extraction_type_group','extraction_type_class',
                'payment_type','waterpoint_type_group','quality_group','quantity_group','source_type','id']
#To avoid copy setting warning, creating a copy of the datasets
train = train.copy()
val = val.copy()

train.drop(columns=drop_columns,inplace=True)
val.drop(columns=drop_columns,inplace=True)
test.drop(columns=drop_columns,inplace=True)

In [0]:

train['latitude'] = train['latitude'].replace(-2e-08, 0)
val['latitude'] = val['latitude'].replace(-2e-08, 0)
test['latitude'] = test['latitude'].replace(-2e-08, 0)

In [0]:
nan_columns = ['latitude','longitude']

In [0]:
def make_zero_nan(data,col):
  X = data.copy()
  X[col]=X[col].replace(0,np.NaN)
  return X

In [0]:
for col in nan_columns:
  for df in [train,val,test]:
    df = make_zero_nan(df,col)

In [112]:
train[['latitude','longitude']].describe()

           latitude     longitude
count  47520.000000  47520.000000
mean      -5.708551     34.100222
std        2.942088      6.516114
min      -11.649440      0.000000
25%       -8.552568     33.100053
50%       -5.017987     34.909100
75%       -3.327596     37.180879
max        0.000000     40.344301

In [1]:
target = 'status_group'
features = train.columns.drop(target)
Y_train = train[target]
Y_val = val[target]
X_train = train[features]
X_val = val[features]
#making a pipeline for model testing

pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    DecisionTreeClassifier(random_state=32,min_samples_leaf=20)
)
pipeline.fit(X_train,Y_train)
pred_train = pipeline.predict(X_train)
y_pred = pipeline.predict(X_val)
print("Training Score:",accuracy_score(Y_train,pred_train))
print("Val Score:",accuracy_score(Y_val,y_pred))

NameError: ignored

In [0]:
model = pipeline.named_steps['decisiontreeclassifier']
encoder = pipeline.named_steps['onehotencoder']

In [48]:
encoder.transform(X_val).columns.to_list()

['amount_tsh',
 'date_recorded_2013-03-15',
 'date_recorded_2011-03-05',
 'date_recorded_2011-04-01',
 'date_recorded_2013-03-04',
 'date_recorded_2012-10-29',
 'date_recorded_2012-10-24',
 'date_recorded_2011-03-22',
 'date_recorded_2013-01-20',
 'date_recorded_2011-03-19',
 'date_recorded_2011-07-26',
 'date_recorded_2012-10-31',
 'date_recorded_2011-07-21',
 'date_recorded_2013-02-13',
 'date_recorded_2013-03-23',
 'date_recorded_2011-08-08',
 'date_recorded_2013-02-09',
 'date_recorded_2011-02-26',
 'date_recorded_2013-02-27',
 'date_recorded_2013-02-25',
 'date_recorded_2013-02-18',
 'date_recorded_2013-11-03',
 'date_recorded_2013-03-13',
 'date_recorded_2013-03-19',
 'date_recorded_2012-10-18',
 'date_recorded_2013-02-26',
 'date_recorded_2013-09-03',
 'date_recorded_2013-03-16',
 'date_recorded_2011-03-14',
 'date_recorded_2011-01-04',
 'date_recorded_2013-03-18',
 'date_recorded_2011-02-23',
 'date_recorded_2013-03-17',
 'date_recorded_2011-07-31',
 'date_recorded_2013-01-31',
 'date_recorded_2011-04-12',
 'date_recorded_2013-01-26',
 'date_recorded_2011-04-10',
 'date_recorded_2013-03-21',
 'date_recorded_2013-07-03',
 'date_recorded_2012-11-04',
 'date_recorded_2011-03-27',
 'date_recorded_2011-03-04',
 'date_recorded_2011-03-28',
 'date_recorded_2011-07-19',
 'date_recorded_2011-08-26',
 'date_recorded_2011-03-12',
 'date_recorded_2013-01-30',
 'date_recorded_2011-07-23',
 'date_recorded_2013-01-18',
 'date_recorded_2013-01-24',
 'date_recorded_2013-02-19',
 'date_recorded_2011-08-04',
 'date_recorded_2013-02-22',
 'date_recorded_2012-10-17',
 'date_recorded_2011-04-02',
 'date_recorded_2011-08-01',
 'date_recorded_2013-02-20',
 'date_recorded_2011-04-05',
 'date_recorded_2011-03-26',
 'date_recorded_2013-01-22',
 'date_recorded_2011-08-05',
 'date_recorded_2011-03-03',
 'date_recorded_2013-02-24',
 'date_recorded_2013-02-07',
 'date_recorded_2011-03-07',
 'date_recorded_2011-03-15',
 'date_recorded_2011-04-13',
 'date_recorded_2012-10-14',
 'date_recorded_2013-03-28',
 'date_recorded_2012-10-23',
 'date_recorded_2011-04-03',
 'date_recorded_2013-03-07',
 'date_recorded_2013-01-19',
 'date_recorded_2011-08-10',
 'date_recorded_2013-01-15',
 'date_recorded_2013-02-05',
 'date_recorded_2011-02-25',
 'date_recorded_2011-08-09',
 'date_recorded_2013-01-17',
 'date_recorded_2013-02-02',
 'date_recorded_2012-12-18',
 'date_recorded_2011-07-20',
 'date_recorded_2011-07-10',
 'date_recorded_2011-07-05',
 'date_recorded_2011-07-22',
 'date_recorded_2011-07-27',
 'date_recorded_2013-02-28',
 'date_recorded_2013-03-24',
 'date_recorded_2012-10-25',
 'date_recorded_2011-03-24',
 'date_recorded_2013-05-04',
 'date_recorded_2013-01-21',
 'date_recorded_2013-03-14',
 'date_recorded_2012-10-21',
 'date_recorded_2013-01-04',
 'date_recorded_2011-03-18',
 'date_recorded_2011-02-02',
 'date_recorded_2011-03-21',
 'date_recorded_2013-06-03',
 'date_recorded_2013-04-04',
 'date_recorded_2011-03-10',
 'date_recorded_2011-04-17',
 'date_recorded_2013-02-14',
 'date_recorded_2013-01-16',
 'date_recorded_2011-04-16',
 'date_recorded_2011-03-16',
 'date_recorded_2011-07-06',
 'date_recorded_2012-11-12',
 'date_recorded_2013-01-28',
 'date_recorded_2011-07-29',
 'date_recorded_2013-02-11',
 'date_recorded_2011-02-28',
 'date_recorded_2012-10-22',
 'date_recorded_2011-03-11',
 'date_recorded_2012-11-11',
 'date_recorded_2011-08-02',
 'date_recorded_2011-07-15',
 'date_recorded_2011-08-03',
 'date_recorded_2012-10-07',
 'date_recorded_2011-08-21',
 'date_recorded_2011-04-15',
 'date_recorded_2011-03-13',
 'date_recorded_2011-03-08',
 'date_recorded_2011-04-06',
 'date_recorded_2011-03-09',
 'date_recorded_2011-07-13',
 'date_recorded_2011-07-30',
 'date_recorded_2012-10-26',
 'date_recorded_2013-02-21',
 'date_recorded_2013-01-23',
 'date_recorded_2013-02-03',
 'date_recorded_2013-03-11',
 'date_recorded_2011-03-23',
 'date_recorded_2011-07-28',
 'date_recorded_2011-07-08',
 'date_recorded_2013-02-16',
 'date_recorded_2011-07-25',
 'date_recorded_2011-03-29',
 'date_recorded_2011-08-06',
 'date_recorded_2011-06-04',
 'date_recorded_2011-07-17',
 'date_recorded_2013-02-12',
 'date_recorded_2013-02-10',
 'date_recorded_2011-03-30',
 'date_recorded_2011-03-17',
 'date_recorded_2012-10-28',
 'date_recorded_2012-10-19',
 'date_recorded_2012-10-03',
 'date_recorded_2011-03-25',
 'date_recorded_2011-08-11',
 'date_recorded_2011-07-24',
 'date_recorded_2011-08-23',
 'date_recorded_2013-03-02',
 'date_recorded_2011-03-06',
 'date_recorded_2013-01-29',
 'date_recorded_2013-12-03',
 'date_recorded_2012-10-08',
 'date_recorded_2011-07-09',
 'date_recorded_2011-04-11',
 'date_recorded_2012-10-27',
 'date_recorded_2012-10-12',
 'date_recorded_2011-08-07',
 'date_recorded_2011-08-16',
 'date_recorded_2011-02-22',
 'date_recorded_2013-03-20',
 'date_recorded_2011-07-16',
 'date_recorded_2012-12-23',
 'date_recorded_2013-02-15',
 'date_recorded_2013-05-03',
 'date_recorded_2013-03-03',
 'date_recorded_2012-10-05',
 'date_recorded_2013-03-01',
 'date_recorded_2012-11-01',
 'date_recorded_2013-02-17',
 'date_recorded_2013-02-01',
 'date_recorded_2013-02-23',
 'date_recorded_2013-03-29',
 'date_recorded_2011-02-27',
 'date_recorded_2011-09-04',
 'date_recorded_2011-12-03',
 'date_recorded_2012-10-09',
 'date_recorded_2013-02-04',
 'date_recorded_2013-02-06',
 'date_recorded_2011-07-07',
 'date_recorded_2011-04-09',
 'date_recorded_2011-04-04',
 'date_recorded_2011-04-21',
 'date_recorded_2013-03-05',
 'date_recorded_2012-11-05',
 'date_recorded_2013-06-04',
 'date_recorded_2012-10-10',
 'date_recorded_2011-08-13',
 'date_recorded_2012-10-30',
 'date_recorded_2011-02-15',
 'date_recorded_2013-01-03',
 'date_recorded_2011-08-14',
 'date_recorded_2011-02-21',
 'date_recorded_2013-08-03',
 'date_recorded_2011-10-07',
 'date_recorded_2012-12-14',
 'date_recorded_2013-03-26',
 'date_recorded_2011-03-20',
 'date_recorded_2013-04-03',
 'date_recorded_2011-03-01',
 'date_recorded_2013-01-27',
 'date_recorded_2011-02-03',
 'date_recorded_2011-07-14',
 'date_recorded_2011-02-19',
 'date_recorded_2011-09-03',
 'date_recorded_2011-11-04',
 'date_recorded_2011-07-12',
 'date_recorded_2011-02-18',
 'date_recorded_2013-03-30',
 'date_recorded_2013-03-22',
 'date_recorded_2011-08-20',
 'date_recorded_2013-02-08',
 'date_recorded_2011-08-25',
 'date_recorded_2011-04-18',
 'date_recorded_2012-11-06',
 'date_recorded_2011-02-20',
 'date_recorded_2013-03-25',
 'date_recorded_2011-04-20',
 'date_recorded_2011-08-17',
 'date_recorded_2012-11-13',
 'date_recorded_2013-10-03',
 'date_recorded_2012-12-13',
 'date_recorded_2012-10-16',
 'date_recorded_2012-10-20',
 'date_recorded_2011-04-08',
 'date_recorded_2011-07-04',
 'date_recorded_2011-07-11',
 'date_recorded_2013-01-13',
 'date_recorded_2013-03-12',
 'date_recorded_2012-10-06',
 'date_recorded_2012-11-02',
 'date_recorded_2013-01-25',
 'date_recorded_2012-10-11',
 'date_recorded_2013-03-27',
 'date_recorded_2011-03-02',
 'date_recorded_2011-03-31',
 'date_recorded_2012-10-01',
 'date_recorded_2011-01-03',
 'date_recorded_2011-06-07',
 'date_recorded_2013-09-02',
 'date_recorded_2011-04-07',
 'date_recorded_2011-05-04',
 'date_recorded_2011-08-18',
 'date_recorded_2012-11-07',
 'date_recorded_2013-12-02',
 'date_recorded_2011-02-24',
 'date_recorded_2013-03-08',
 'date_recorded_2013-10-02',
 'date_recorded_2011-07-18',
 'date_recorded_2011-04-22',
 'date_recorded_2012-11-09',
 'date_recorded_2013-05-02',
 'date_recorded_2013-03-10',
 'date_recorded_2011-06-03',
 'date_recorded_2012-10-02',
 'date_recorded_2012-11-14',
 'date_recorded_2011-01-08',
 'date_recorded_2013-01-12',
 'date_recorded_2011-12-07',
 'date_recorded_2011-10-04',
 'date_recorded_2011-02-14',
 'date_recorded_2012-10-13',
 'date_recorded_2012-10-04',
 'date_recorded_2013-07-02',
 'date_recorded_2011-08-15',
 'date_recorded_2011-08-22',
 'date_recorded_2011-02-04',
 'date_recorded_2012-11-03',
 'date_recorded_2013-03-09',
 'date_recorded_2012-10-15',
 'date_recorded_2012-11-10',
 'date_recorded_2013-03-06',
 'date_recorded_2011-04-14',
 'date_recorded_2012-11-19',
 'date_recorded_2012-12-15',
 'date_recorded_2012-11-08',
 'date_recorded_2013-01-11',
 'date_recorded_2013-08-02',
 'date_recorded_2012-12-10',
 'date_recorded_2011-08-12',
 'date_recorded_2013-01-08',
 'date_recorded_2011-04-19',
 'date_recorded_2012-11-15',
 'date_recorded_2004-12-01',
 'date_recorded_2011-08-31',
 'date_recorded_2011-08-19',
 'date_recorded_2011-11-03',
 'date_recorded_2011-11-07',
 'date_recorded_2013-07-04',
 'date_recorded_2013-11-02',
 'date_recorded_2013-01-09',
 'date_recorded_2012-12-11',
 'date_recorded_2011-02-16',
 'date_recorded_2011-09-19',
 'date_recorded_2011-05-03',
 'date_recorded_2011-08-27',
 'date_recorded_2012-12-24',
 'date_recorded_2002-10-14',
 'date_recorded_2011-07-03',
 'date_recorded_2012-12-16',
 'date_recorded_2012-11-30',
 'date_recorded_2013-01-14',
 'date_recorded_2004-05-01',
 'date_recorded_2012-12-17',
 'date_recorded_2011-02-17',
 'date_recorded_2011-10-03',
 'date_recorded_2011-08-24',
 'date_recorded_2013-01-01',
 'date_recorded_2012-12-12',
 'date_recorded_2013-01-07',
 'date_recorded_2012-12-21',
 'date_recorded_2011-09-06',
 'date_recorded_2013-04-02',
 'date_recorded_2011-09-09',
 'date_recorded_2004-03-01',
 'date_recorded_2011-02-01',
 'date_recorded_2011-04-23',
 'date_recorded_2004-06-01',
 'date_recorded_2013-01-10',
 'date_recorded_2004-04-05',
 'date_recorded_2004-04-01',
 'date_recorded_2004-03-06',
 'date_recorded_2011-09-12',
 'date_recorded_2011-09-28',
 'date_recorded_2011-05-07',
 'date_recorded_2012-11-29',
 'date_recorded_2011-09-20',
 'date_recorded_2011-08-28',
 'date_recorded_2011-09-01',
 'date_recorded_2013-01-06',
 'date_recorded_2011-09-11',
 'date_recorded_2011-09-14',
 'date_recorded_2004-01-07',
 'date_recorded_2012-01-25',
 'date_recorded_2004-08-01',
 'date_recorded_2012-01-21',
 'date_recorded_2011-09-25',
 'date_recorded_2011-09-17',
 'date_recorded_2004-09-01',
 'date_recorded_2011-08-30',
 'date_recorded_2011-09-18',
 'gps_height',
 'longitude',
 'latitude',
 'num_private',
 'basin_Internal',
 'basin_Wami / Ruvu',
 'basin_Lake Nyasa',
 'basin_Pangani',
 'basin_Lake Tanganyika',
 'basin_Lake Victoria',
 'basin_Ruvuma / Southern Coast',
 'basin_Rufiji',
 'basin_Lake Rukwa',
 'region_Arusha',
 'region_Morogoro',
 'region_Mbeya',
 'region_Tabora',
 'region_Shinyanga',
 'region_Dodoma',
 'region_Lindi',
 'region_Kagera',
 'region_Kilimanjaro',
 'region_Mwanza',
 'region_Kigoma',
 'region_Iringa',
 'region_Ruvuma',
 'region_Dar es Salaam',
 'region_Pwani',
 'region_Mara',
 'region_Rukwa',
 'region_Tanga',
 'region_Manyara',
 'region_Mtwara',
 'region_Singida',
 'region_code',
 'district_code',
 'population',
 'public_meeting_True',
 'public_meeting_nan',
 'public_meeting_False',
 'scheme_management_VWC',
 'scheme_management_Parastatal',
 'scheme_management_Water authority',
 'scheme_management_WUG',
 'scheme_management_Water Board',
 'scheme_management_WUA',
 'scheme_management_Private operator',
 'scheme_management_Company',
 'scheme_management_nan',
 'scheme_management_SWC',
 'scheme_management_Other',
 'scheme_management_Trust',
 'scheme_management_None',
 'permit_True',
 'permit_nan',
 'permit_False',
 'construction_year',
 'extraction_type_gravity',
 'extraction_type_swn 80',
 'extraction_type_afridev',
 'extraction_type_other',
 'extraction_type_ksb',
 'extraction_type_mono',
 'extraction_type_other - play pump',
 'extraction_type_submersible',
 'extraction_type_india mark ii',
 'extraction_type_nira/tanira',
 'extraction_type_india mark iii',
 'extraction_type_other - rope pump',
 'extraction_type_other - swn 81',
 'extraction_type_walimi',
 'extraction_type_cemo',
 'extraction_type_other - mkulima/shinyanga',
 'extraction_type_windmill',
 'extraction_type_climax',
 'management_vwc',
 'management_parastatal',
 'management_water authority',
 'management_wug',
 'management_water board',
 'management_wua',
 'management_private operator',
 'management_company',
 'management_other',
 'management_unknown',
 'management_other - school',
 'management_trust',
 'management_group_user-group',
 'management_group_parastatal',
 'management_group_commercial',
 'management_group_other',
 'management_group_unknown',
 'payment_pay when scheme fails',
 'payment_pay per bucket',
 'payment_unknown',
 'payment_never pay',
 'payment_pay annually',
 'payment_pay monthly',
 'payment_other',
 'water_quality_soft',
 'water_quality_salty',
 'water_quality_salty abandoned',
 'water_quality_milky',
 'water_quality_unknown',
 'water_quality_coloured',
 'water_quality_fluoride',
 'water_quality_fluoride abandoned',
 'quantity_dry',
 'quantity_enough',
 'quantity_insufficient',
 'quantity_seasonal',
 'quantity_unknown',
 'source_river',
 'source_shallow well',
 'source_spring',
 'source_rainwater harvesting',
 'source_machine dbh',
 'source_hand dtw',
 'source_lake',
 'source_dam',
 'source_other',
 'source_unknown',
 'source_class_surface',
 'source_class_groundwater',
 'source_class_unknown',
 'waterpoint_type_communal standpipe',
 'waterpoint_type_hand pump',
 'waterpoint_type_communal standpipe multiple',
 'waterpoint_type_other',
 'waterpoint_type_improved spring',
 'waterpoint_type_cattle trough',
 'waterpoint_type_dam']

In [0]:
features = pd.DataFrame({'columns':encoder.transform(X_val).columns.to_list(),'importance':model.feature_importances_})

In [70]:
#plotting the importance

features.sort_values('importance',ascending=False)[:20]

                                         columns  importance
453                                 quantity_dry    0.251275
474                        waterpoint_type_other    0.131646
347                                    longitude    0.112980
348                                     latitude    0.084768
0                                     amount_tsh    0.044831
402                            construction_year    0.043088
473  waterpoint_type_communal standpipe multiple    0.031041
346                                   gps_height    0.029183
381                                district_code    0.023249
382                                   population    0.022323
380                                  region_code    0.011807
454                              quantity_enough    0.010131
375                                 region_Rukwa    0.009738
403                      extraction_type_gravity    0.009098
460                                source_spring    0.008520
421                               management_vwc    0.008424
469                     source_class_groundwater    0.007151
471           waterpoint_type_communal standpipe    0.006800
441                            payment_never pay    0.005712
407                          extraction_type_ksb    0.005532

In [36]:
features.head()

0    Index(['amount_tsh', 'date_recorded_2013-03-15...
1    [0.044831299635566146, 5.743392291606526e-05, ...
dtype: object